.contenedor-principal {
    display: flex;
    flex-direction: column;
    padding:10px;
    border: 2px solid #ffffff;
    border-radius: 10px;  
    margin: 20px auto;
    max-width: 950px; 
    width: 100%;

}
.contenedor-cards{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;        
    height: 230px;       
}
.contenido{
    text-align: center;
    margin-bottom: 15px;
}
