body{
    background-color: aliceblue;
}
.contenedor-general-recetas{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    justify-content: center;
}
.titulo{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.contenido-recetas{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: start;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}
.imagen img{
    width: 100%;      
    max-width: 500px; 
    height: auto;    
    display: block;   
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.ingredientes{
    position: sticky;
    top: 10px;
    border: 2px solid rgb(0, 0, 0); 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    border-radius: 20px;
}
.usuario-creador{
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}
.imagen-usuario{
    width: 100%;      
    max-width: 80px; 
    height: auto; 
}
.nombre-usuario{
    padding-top: 20px;
    text-align: center;
}
.media{
    display: flex;
    width: 800px;
    flex-direction: column;
    padding: 1.5rem;
    padding-left: 50px;
    padding-top: 10px;
}
.media-content{ 
    margin-bottom: 10px;
    gap: 50px;
    display: flex;
}
.imagen-receta img{
    width: 100%;      
    max-width: 500px; 
    height: auto;    
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.textarea {
    width: 300px !important;
    min-height: 60px !important;
    resize: none;
}
.bottom-buttons{
    display: flex;
    gap: 280px;
}
.button-imagen{
    margin-top: 5px;
}