body{
    background-color: aliceblue;
}
.contenedor-general-recetas{
    display: flex;
    flex-direction: column;
}
.titulo{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.contenido-recetas{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-bottom: 20px;
}
.imagen img{
    width: 100%;      
    max-width: 500px; 
    height: auto;    
    display: block;   
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.ingredientes{
    position: sticky;
    top: 10px;
    border: 2px solid rgb(0, 0, 0); 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    border-radius: 20px;
}
.usuario-creador{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-right: 625px;
    margin-bottom: 10px;
    gap: 10px;
}
.imagen-usuario{
    width: 100%;      
    max-width: 80px; 
    height: auto; 
}
.nombre-usuario{
    padding-top: 20px;
    text-align: center;
}
