.navbar {
    height: 100px;
    padding: 0 200px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
}

.navbar-menu {
    background-color: #ffffff;
    padding: 0 200px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.navbarBasicExample {
    padding: 0 !important;
}

.navbar-item img {
    max-height: 280px;
}

.navbar-link,
a.navbar-item {
    padding: 15px 0 0 0;
    background-color: transparent !important;
}

.navbar-link {
    padding: 0 !important;
}

.navbar-end {
    width: 24%;
    margin-inline-start: 0;
}

.menu {
    display: flex;
    gap: 60px;
    padding: 0 0 15px 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: text-decoration 0.2s ease;
    padding-bottom: 0;
}

li a {
    border-bottom: 1px solid transparent;
}

li a:hover {
    border-bottom: 1px solid black;
}

li::after {
    content: none !important;
    display: none !important;
}

.input {
    background-color: white;
    border-color: black;
    color: black;
}

.input::placeholder {
    color: black;
}

.panel-block {
    width: 30%;
    max-height: 310px;
    margin: 0 auto;
}

.icon {
    background-color: rgba(213, 162, 68, 0.844);
    border-radius: 0 6px 6px 0;
}

.is-primary {
    background-color: rgba(213, 162, 68, 0.844);
.navbar{
    height: 100px;
    background-color: aliceblue;
}

.Padre-buscador{
    margin-top: 20px;
}
.navbar-menu{
    width: 100px;
}