@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Podés cambiar el peso: 100–900 */
  font-style: normal;
}

