#usuario {
  display: flex;
  gap: 2rem;               
  max-width: 1000px;        
  margin: 3rem auto;         
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
}

.perfil-card-img{
  background-color: #ffff;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 8px rgba(213, 162, 68, 0.83);
  box-sizing: border-box;
}

.perfil-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.nombre-perfil{
  display: flex;
  justify-content: center;
}

.perfil-header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.perfil-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

.perfil-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid rgba(213, 162, 68, 0.83);
}


.perfil-stats {
  display: flex; 
  padding: 0 10px;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
}


.perfil-stats div {
  flex: 1 1 100px;
  background: #ffff;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(213, 162, 68, 0.83);
  padding: 0.6rem 0.8rem;
  text-align: center;
}

.perfil-stats strong{
  color: black;
}

.perfil-stats p:last-child {
  font-weight: 600;
  font-size: 1.05rem;
  color: rgba(213, 162, 68, 0.83); 
}

.label {
  font-size: 0.85rem;
  color: black;
  margin-bottom: 0.35rem;
}

.input {
  color: black;
  box-shadow: none;
  border: 0px solid;
  border-radius: 6px;
  background-color: #e9ecef;
}
.input::placeholder {
  color: black;
}

.field.has-text-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.button{
  margin-top: 10px;
  background-color: rgba(213, 162, 68, 0.83);
  color: black;
}

html{
  background-color: white;
}