footer {
  background-color: #eee !important;
}

.profile {
  max-width: 1200px;
  margin: 200px auto;
  background-color: #eee;
}

.profile__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 70px;
}

.profile__card {
  border-radius: 12px;
  box-shadow: 0px 0px 8px 8px rgba(213, 162, 68, 0.83);
  box-sizing: border-box;
}

.profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.profile__image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #e9ecef;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 0 auto 0.75rem;
  color: #6c757d;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile__image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid rgba(213, 162, 68, 0.83);
}


.profile__name {
  display: flex;
  justify-content: center;
}


.perfil-header {
  text-align: center;
  margin-bottom: 1.25rem;
}


.profile__stats {
  display: flex;
  padding: 0 10px;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
}


.profile__stat {
  flex: 1 1 100px;
  background: #ffff;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(213, 162, 68, 0.83);
  padding: 0.6rem 0.8rem;
  text-align: center;
}

.profile__stat-title {
  color: black;
}

.profile__stat-title {
  font-size: 0.85rem;
  color: #6b7280;
  margin-bottom: 0.25rem;
}

.profile__stat-value {
  font-weight: 600;
  font-size: 1.05rem;
  color: rgba(213, 162, 68, 0.83);
}


.profile__field {
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile__label {
  font-size: 1.3rem;
  color: black;
  margin-bottom: 0.35rem;
}

.profile__input {
  color: black;
  box-shadow: none;
  border: 0px solid;
  border-radius: 6px;
  background-color: #e9ecef;
  height: 30px;
  font-size: 20px;
}

.profile__input::placeholder {
  color: black;
  font-size: 20px;
}

.profile__input:focus {
  outline: none;
}


.profile__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  background-color: rgba(213, 162, 68, 0.83);
  color: #fff;
  padding: 8px 19.2px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {

  .profile__container {
    justify-content: center;
    margin: 0 auto;
  }
}