.resultados {
    padding: 0 50px;
}

.resultados__container {
    max-width: 1200px;
    margin: 200px auto;
}

.resultados__title {
    color: #111;
    border-bottom: 2px solid rgba(213, 162, 68, 0.83);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 1.6rem;
    display: inline-block;
}

.resultados__layout {
    display: grid;
    grid-template-columns: minmax(560px, 60%) 40%;
    gap: 30px;
}

.resultados__list {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Tarjeta (item) */
.resultados__item {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;

    padding: 20px;
    background: #fff;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
    transition: .2s ease;
}

.resultados__item:hover {
    border-color: rgba(213, 162, 68, 0.84);
}

.resultados__img {
    width: 220px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.resultados__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultados__titulo {
    font-size: 1.3rem;
    color: #242424;
    font-weight: 600;
    cursor: pointer;
    transition: color .3s;
}

.resultados__titulo:hover {
    color: rgba(213, 162, 68, 0.84);
}

.resultados__meta {
    font-size: 14px;
    color: #000;
}

.resultados__descripcion {
    color: #777;
    line-height: 1.4;
}

/* ================================
   FILTROS (ASIDE)
================================ */

.filtros {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.filtros__grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtros__title {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 0;
    text-align: left;
}

.filtros__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filtros__item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
}

.filtros__item span {
    font-size: 12px;
    color: #777;
}