
#usuario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 600px;
  margin: 3rem auto;

  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 8px rgba(213, 162, 68, 0.83);
  box-sizing: border-box;
}

.perfil-img img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 2px solid rgba(213, 162, 68, 0.83);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perfil-img-nombre-usuario{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.perfil-img-nombre-usuario h2{
 margin-top: 5px;

}
.perfil-stats{
  display: flex; 
  flex-direction: column;
  margin-bottom: 1.50rem;
  margin-top: 1.50rem;
  flex-wrap: wrap;
}

.perfil-stats strong{
  color: black;
}
.perfil-stats p:last-child {
  font-weight: 600;
  font-size: 1.05rem;
  color: rgba(213, 162, 68, 0.83); 
}

.perfil-stats-post-likes{
  display: flex;
  justify-content: space-between;
  
}

.posts{
  margin-right: 20px;
}

.perfil-stats-post-likes div{
  flex: 1 1 30%;
  background: #ffff;
  margin-bottom: 1.50rem;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(213, 162, 68, 0.83);
  padding: 0.6rem 0.8rem;
  text-align: center;
}

.perfil-stats-sobreMi{
  padding: 1rem;
}


.perfil-stats-sobreMi {
  flex: 1 1 30%;
  background: #ffff;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(213, 162, 68, 0.83);
  padding: 0.6rem 0.8rem;
  text-align: center;
}

.perfil .button{
  background-color: rgba(213, 162, 68, 0.83);
  color: black;
}

html {
  height: 100%;
  margin: 0;
  background-color: #fff;
}




