main {
    padding: 0 110px;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.2) !important;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.title {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-size: 30px !important;
    font-weight: 750 !important;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    border: 2px solid #ffffff;
    border-radius: 10px;  
    width: 100%;
}

.card img {
    height: 180px;
}

.texto-subrayado {
  position: relative;
  display: inline-block;
  z-index: 1; 
}

.texto-subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 290px;
  height: 12px;
  background-color: rgba(213, 162, 68, 0.83);
  z-index: -1; 
}

.contenedor-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;        
    height: 230px;       
    background-color: #ffffff;
}
.contenido{
    text-align: center;
    margin-bottom: 15px;
    color: black;
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.contenedor-secundario {
    display: flex;
    align-items: flex-start;
    border: 2px solid #ffffff;
    border-radius: 10px;  
    gap: 40px;
    max-width: 950px; 
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.contenedor-cards-segundo {
    display: flex;
    gap: 50px;
}

.card-content {
    padding-top: 15px;
}

.card-content h2 {
    padding-top: 5px;
    font-size: 1.1rem;
}

.title {
    font-size: 1.5rem;
}

.tercer-contenedor{
    display: flex;
    flex-direction: column;
    max-width: 950px; 
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;  
}
.tercer-contenedor .title{
  text-align: center;
  margin-top: 14px;
  margin-bottom: 0;
}
.contenido{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}
.texto{
    padding: 10px;
}

.button{
    align-self: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

span.link:hover {
    border-bottom: 1px solid rgba(213, 162, 68, 0.83);
}

span.link::after {
    content: none !important;
}

.contenedor-divs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 130px;
}

.card-ultimo img {
  width: 100px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

/* Primer DIV */
.elegidos-por-la-comunidad {
    padding-top: 90px;
    height: 700px;
    width: 700px;
}

.elegidos-por-la-comunidad img{
    height: 500px;
    width: 750px;
    max-width: 800px;
}

.hover-link .link {
    border-bottom: 2px solid transparent;
}


.hover-link:hover .link {
    border-bottom-color: rgb(255, 166, 0); 
}

.subtitulo {
    color: rgb(77, 74, 74);
    font-size: 17px !important;
    font-weight: 600 !important;
}

/* Segundo DIV */
.segundo-div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

    /* Recientes */
    .division {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .division::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 280px;
        height: 2px;
        background-color: rgba(213, 162, 68, 0.83);
        z-index: -1; 
    }

    .columnas {
        display: flex;
        flex-direction: column;
    }

    .card-ultimo {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .card-ultimo:not(:nth-last-child(-n+2)) {
        border-bottom: 1px solid #cac0c0;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .texto-ultimo {
        display: flex;
        flex-direction: column;
    }

    .categoria-titulo {
        display: flex;
        font-size: 11px;
        gap: 0; 
        color: #777;
        margin: 0;
    }

    .grupos {
        padding-right: 9px;        
        border-right: 1px solid #cac0c0;
        margin-right: 9px;          
        color: #777;
    }

    .titulo {
        font-size: 13px;
        font-weight: 600;
        color: #000;
    }

    .ver-mas {
        border: 1px solid rgba(204, 139, 17, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 70px;
        height: 30px;
        margin: 0 auto;
    }

    .ver-mas:hover {
        background-color:  rgba(204, 139, 17, 0.83);
        color: white;
    }



