main {
    padding: 0 110px;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.2) !important;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.title {
    color: black;
    font-size: 30px !important;
    font-weight: 750 !important;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    border: 2px solid #ffffff;
    border-radius: 10px;  
    width: 100%;
}

.card img {
    height: 180px;
}

.texto-subrayado {
  position: relative;
  display: inline-block;
  z-index: 1; 
}

.texto-subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 290px;
  height: 12px;
  background-color: rgba(213, 162, 68, 0.83);
  z-index: -1; 
}

.contenedor-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;        
    height: 230px;       
    background-color: #ffffff;
}
.contenido{
    text-align: center;
    margin-bottom: 15px;
    color: black;
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-size: 25px;
}

.contenedor-secundario {
    display: flex;
    align-items: flex-start;
    border: 2px solid #ffffff;
    border-radius: 10px;  
    gap: 40px;
    max-width: 950px; 
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.contenedor-cards-segundo {
    display: flex;
    gap: 50px;
}

.card-content {
    padding-top: 15px;
}

.card-content h2 {
    padding-top: 5px;
    font-size: 1.1rem;
}

.title {
    font-size: 1.5rem;
}

.tercer-contenedor{
    display: flex;
    flex-direction: column;
    max-width: 950px; 
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;  
}
.tercer-contenedor .title{
  text-align: center;
  margin-top: 14px;
  margin-bottom: 0;
}
.contenido{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}
.texto{
    padding: 10px;
}

.button{
    align-self: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.contenedor-cards-cenas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}